@using AutoParts_ShopAndForum.Core.Models.ProductCategory
@using AutoParts_ShopAndForum.Localization

@model ProductCategoryModel[]

@{
    ViewData["Title"] = @MainLocalization.Home_PageTitle;
}

<div class="text-center">
    <h1>
        @ViewData["Title"]
    </h1>
</div>

<div class="container my-5">
    <div class="row mb-4">
        @foreach (var category in Model)
        {
            <div class="col-sm-4 mb-5">
                <div class="box box-1">
                    <img src="@(category.ImageUrl)" style="width: 180px; height:120px; object-fit:cover" />
                </div>

                <div class="box box-2" style="align-content:center">
                    <a asp-controller="Product" asp-action="All" asp-route-categoryId="@category.Id" class="btn btn-warning">@(category.Name)</a>
                </div>
            </div>
        }
    </div>
</div>
