@using AutoParts_ShopAndForum.Areas.Forum.Models
@using AutoParts_ShopAndForum.Localization

@model PostListViewModel[]

@{
    ViewData["Title"] = @MainLocalization.PostList_Title;
}

<div class="text-center">
    <h1>
        @ViewData["Title"]
    </h1>
</div>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().Author)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().DateCreate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.FirstOrDefault().CommentsCount)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var post in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Post" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
                                </td>

                                <td>@(post.Author)</td>
                                <td>@(post.DateCreate)</td>
                                <td>@(post.CommentsCount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<style>
    a {
        color: #E91E63;
        text-decoration: none !important;
        background-color: transparent;
    }
</style>
