@using AutoParts_ShopAndForum.Models.Checkout
@model CheckoutFormModel

@{
	ViewData["Title"] = "Checkout";
}

<div class="row">
	<div class="col-md-8 order-md-1">
		<form method="post">
			<div class="card my-4">
				<div class="card-header">
					<h5 class="mb-0">Данни за доставка</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="form-group" id="DeliveryWayGroup">
							<div class="col-md-8 col-sm-12">
								<div class="form-check">
									<input asp-for="DeliveryMethod"
										   value="@DeliveryMethod.DeliverToAddress"
										   type="radio"
										   id="toAddressDeliveryMethod"
										   class="form-check-input"
										   checked="checked"
										   onclick="onDeliverySetToPersonalAddress()">

									<label class="form-check-label" for="toAddressDeliveryMethod">Доставка с куриер до адрес</label>

								</div>
								<div class="form-check">
									<input asp-for="DeliveryMethod"
										   value="@DeliveryMethod.PersonalTake"
										   type="radio"
										   id="toCourierAddress"
										   class="form-check-input"
										   onclick="onDeliverySetToCourierAddress()">

									<label class="form-check-label" for="toCourierAddress">Лично вземане Speedy</label>
								</div>
							</div>

							<div class="my-2" id="courierAddressComp" style="display: none">
								<div class="form-group my-2">
									<label asp-for="@Model.SelectedTownId"></label>
									<select asp-for="@Model.SelectedTownId" id="townsDropDown">
										@foreach (var town in Model.Towns)
										{
											<option value="@town.Id">@town.Name</option>
										}
									</select>
								</div>
								<div class="form-group">
									<label asp-for="@Model.SelectedCourierStationId"></label>
									<select asp-for="@Model.SelectedCourierStationId" id="courierStationsDropDown">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card my-4">
				<div class="card-header">
					<h5 class="mb-0">Данни за фактуриране</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="form-group" id="InvoiceInformation">

							<div class="form-group">
								<label asp-for="InvoiceFirstName"></label>
								<input asp-for="InvoiceFirstName" id="InvoiceFirstName" class="form-control">
								<span asp-validation-for="InvoiceFirstName" class="small text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="InvoiceLastName"></label>
								<input asp-for="InvoiceLastName" id="InvoiceLastName" class="form-control">
								<span asp-validation-for="InvoiceLastName" class="small text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="InvoiceAddress"></label>
								<input asp-for="InvoiceAddress" id="InvoiceAddress" class="form-control">
								<span asp-validation-for="InvoiceAddress" class="small text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Поръчай</button>
		</form>
	</div>
	<div class="col-md-4 order-md-2 mb-4">
		Right panel elements here
	</div>
</div>

@section Scripts
{
	<script>
		function onDeliverySetToPersonalAddress() {
			console.log("To home address triggered")

			$("#homeAddressComp").show();
			$("#courierAddressComp").hide();
		}

		function onDeliverySetToCourierAddress() {
			console.log("to courier address triggered")

			$("#courierAddressComp").show();
			$("#homeAddressComp").hide();
		}

		$(document).ready(function () {
			console.log('OKOKOK');
			var townsDropDown = $("#townsDropDown");
			var stationsDropDown = $("#courierStationsDropDown");

			townsDropDown.ready(function () {
				LoadStations();
			});

			townsDropDown.on("change", function () {
				console.log("town changed");
				LoadStations();
			});

			var LoadStations = function () {
				var townId = townsDropDown.val();

				if (townId == -1)
					return;

				console.log('loading stations for town with id: ' + townId);

				$.ajax({
					type: "GET",
					url: "/Checkout/GetCourierStationsForTown/" + townId,
					dataType: "json",
					success: function (data) {
						stationsDropDown.empty();
						$.each(data, function () {
							stationsDropDown.append("<option value='" + this.id + "'>" + this.displayName + "</option>");
							console.log(data[0].displayName);
						});
					}
				});
			}
		});
	</script>
}
